<div class="imagen-fondo">
  <div class="auth-wrapper align-items-stretch aut-bg-img">
    <div class="flex-grow-1">
      <div class="h-100 align-items-center auth-side-img">
        <div class="col-sm-10 auth-content w-auto">
          <img
            src="assets/img/logo_sys_work.png"
            width="500"
            height="217"
            alt=""
            class="img-fluid"
          />
          <div class="w-25 pl-sub-text-logo">
            <h2 class="text-white font-weight-bold font-weight-normal">
              Sistema de selección y seguimiento de candidatos.
            </h2>
          </div>
          <h3 class="pl-sub-text-logo">
            <a href="https://www.dsbmobile.com/">DSB mobile</a>
          </h3>
        </div>
      </div>
      <div class="auth-side-form pr-auth-side-form">
        <div class="auth-content border-form fondo-blanco">
          <i-feather class="big icon-morado flip-h " name="unlock"></i-feather>
          <h3 class="mb-3 f-w-400 font-weight-bold tittle-morado">
            Bienvenido {{ nameSystem }}
          </h3>
          <h5 class="text-secondary">
            Inicia sesión con tu correo y contraseña
          </h5>
          <form [formGroup]="form" (ngSubmit)="save($event)">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i-feather class="icon-morado" name="mail"></i-feather
                ></span>
              </div>
              <input type="email" class="form-control" formControlName="email" placeholder="Email" />
              <small *ngIf="emailField.errors && emailField.touched" class="invalid-feedback d-block">Ingrese un email válido.</small>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i-feather class="icon-morado" name="key"></i-feather
                ></span>
              </div>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="******"
              />
              <span class="field-icon"
                ><i-feather class="fill-gris icon-blanco" name="eye"></i-feather
              ></span>
              <small *ngIf="passwordField.errors && passwordField.touched" class="invalid-feedback d-block">Ingrese tu contraseña</small>
            </div>
            <button type="submit" [disabled]="form.invalid" class="btn btn-block btn-login mb-0">Entrar</button>
          </form>
          <div class="form-group text-left mt-4 ml-4">
            <div class="checkbox checkbox-primary d-inline">
              <input
                type="radio"
                class="form-check-input"
                name="recordar_cuenta"
                id="recordar_cuenta"
              />
              <label for="recordar_cuenta"><span class="font-weight-bold text-secondary">Recordar mi cuenta</span> </label>
            </div>
          </div>
          <small *ngIf="message" class="invalid-feedback d-block">{{ message }}</small>
        </div>
      </div>
    </div>
  </div>
</div>
