<div class="col-md-8">
  <h5 class="mt-2">Lista de Clientes</h5>
  <a class="btn btn-primary mb-2" routerLink="/clientes/crear" role="button"
    >Agregar +</a
  >
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">edad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of clientes; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ data.nombre }}</td>
        <td>{{ data.apellido }}</td>
        <td>{{ data.fechaNacimiento }}</td>
        <td>{{ data.edad }}</td>
      </tr>
      <tr>
        <td colspan="4" class="text-right">Promedio</td>
        <td> {{ promedioEdades }}</td>
      </tr>
      <tr>
        <td colspan="4" class="text-right">Deviación estandar</td>
        <td> {{ desviacionEstandarEdades }}</td>
      </tr>
    </tbody>
  </table>
</div>
